{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    /*
     * 按需加载 Antd 模块
     *
     * yarn add babel-plugin-import --dev
     * less-loader:
     * {
     *   loader: "less-loader",
     *   options: {
     *     javascriptEnabled: true
     *   }
     * }
     * .babelrc or babel-loader option:
     * ["import", {
     *   "libraryName": "antd",
     *   "libraryDirectory": "es",
     *   "style": true
     * }]
     */
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }],
    /* 配置Babel 支持 Decorator */
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    /* 配置Babel 支持下个版本实例属性的写法 */
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    /* 配置模块热更新 */
    "react-hot-loader/babel",
  ]
}
